 body {
      font-family: Arial, sans-serif;
     background-image: url(../images/top-view-dry-leaves-with-copy-space.jpg);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-size: 100%;
    }
    form {
      background: white;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 0 10px #aaa;
      width: 320px;
    }
    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin: 0.5rem 0;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    label {
      font-size: 0.9rem;
    }
    button {
      width: 100%;
      padding: 10px;
      background: black;
      color: white;
      border: none;
      border-radius: 5px;
      margin-top: 1rem;
      cursor: pointer;
    }
    .extra {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .message {
      margin-top: 10px;
      text-align: center;
      font-weight: bold;
    }
